@import "./../../Main.scss";

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width: 95%;
    // @include standardWidthContainer;
    .linksNav {
      width: 40%;
      .links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
      }
    }
    .iconLinksNav {
      width: 17%;
      .iconLinks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          list-style-type: none;
        }
      }
    }
    .logo {
      // border:1px solid green;
      width: 200px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .profile {
      color: black;
    }
  }
}
